*{margin: 0; padding: 0;}
ul,li{list-style: none;}
.slide{
    max-width: 600px;
    margin: 300px auto;
    position: relative;
}
.slide > input{
    display: none;
}
.slide > .slide-list{
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}
.slide > .slide-list > .slide-item{
    display: inline-block;
    width: 100%;
    background-color: black;
    position: relative;
    transition: all 1s;
}
.slide > .slide-list > .slide-item > a{
    display: block;
    width: 80%;
    margin: 20px auto;
}
.slide > .slide-list > .slide-item > a > img{
    width: 100%;
}

.slide > .slide-control > .control > label{
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
}

.slide > .slide-control > .control > .left{
    left: 10px;
    background: red url('../images/left-arrow.png') center center / 50% no-repeat;
}
.slide > .slide-control > .control > .right{
    right: 10px;
    background: red url('../images/right-arrow.png') center center / 50% no-repeat;
}

.slide > #slide1:checked ~ .slide-list > .slide-item{
    transform: translateX(0);
}
.slide > #slide2:checked ~ .slide-list > .slide-item{
    transform: translateX(-100%);
}
.slide > #slide3:checked ~ .slide-list > .slide-item{
    transform: translateX(-200%);
}

.slide > .slide-control > .control{
    display: none;
}

.slide > #slide1:checked ~ .slide-control >  .control1,
.slide > #slide2:checked ~ .slide-control >  .control2,
.slide > #slide3:checked ~ .slide-control >  .control3{
    display: block;
}