*{margin: 0; padding: 0;}
ul, li{list-style: none;}
body{
    height :6000px
}
.slide{
    max-width: 800px;
    margin: 100px auto;
    position: relative;
}
.slide > input{
    display: none;
}
.slide > .slide-list{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    position: relative;
}
.slide > .slide-list > .slide-item{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    background-color: black;
    transition: all 0.5s;
}

.slide > .slide-list > .slide-item > a{
    position: block;
    width: 100%;
    position: relative;
}
.slide > .slide-list > .slide-item > a > img{
    width: 100%;
}
.slide > .slide-control > .control > label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 20px;
}
.slide > .slide-control > .control > .left{
    left: 2%;
    background: black url('../images/left-arrow.png') center center / 50% no-repeat;
}
.slide > .slide-control > .control > .right{
    right: 2%;
    background: black url('../images/right-arrow.png') center center / 50% no-repeat;
}

.slide > #slide1:checked ~ .slide-list > .slide-item{
    transform: translateX(0);

}
.slide > #slide2:checked ~ .slide-list > .slide-item{
    transform: translateX(-100%);

}
.slide > #slide3:checked ~ .slide-list > .slide-item{
    transform: translateX(-200%);

}

.slide > .slide-control > .control{
    display: none;
}

.slide > #slide1:checked ~ .slide-control > .control-1,
.slide > #slide2:checked ~ .slide-control > .control-2,
.slide > #slide3:checked ~ .slide-control > .control-3{
    display: block;
}